// scss variables

$primary-color: #011627;
$secondary-color: #2ec4b6;
$light-color: #fdfffc;
$dark-color: #333;
$accent-color: #f3f5ef;
$max-width-mobile: 375px;
$max-width: 1440px;
$font-stack: "Lato", sans-serif;
